 .AboutUs{
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 5%;
    padding: 80px 30px 10px 30px;
  }

.AboutUsImg1{
    height: 55vh;
    width: 55vh;
    border-radius: 15px;
 }

 .AboutUsText{
  line-height: 15px;
  text-align: justify;
}

.AboutUsText h4{
  color: #08BDBA;
  font-size: 26px;
  font-weight: 400;
}

.AboutUsText h3{
  color: #007D79;
  line-height: 24px;
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
}

.AboutUsText h5{
  margin-top: 10px;
  color: #262626;
  line-height: 22px;
  font-size: 12px;
  font-weight: 400;
}

@media (min-width: 701px) {
  .AboutUs{
    display: flex;
    /* grid-template-columns: 45% 45%; */
    gap: 5%; 
    /* flex-direction: column; */
    align-items: center;
    padding: 60px 30px 10px 110px;
  }
  .AboutUsImg1{
    flex-basis: 30%;
    width: 300px;
    height: 400px;
    object-fit: cover;
    /* height: 55vh;
    width: 50vh; */
    border-radius: 15px;
 }
 .AboutUsText{
  flex-basis: 40%;
  
  /* width: 80%; */
 }
 .AboutUsText h3{
  line-height: 20px;
  font-size: 20px;
 }

 .AboutUsText h5{
  line-height: 14px;
}
}

@media (min-width: 1024px) {
  .AboutUsImg1{
    flex-basis: 50%;
    width: 450px;
    /* height: 400px; */
 }
}

 @media (max-width: 700px) {
  .AboutUs{
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 20px 10px 10px;
    margin-top: 40px;
  }

  .AboutUsImg1{
    display: none;
 }

.AboutUsText {
  width: 75%;
  margin-left: 60px;
  margin-top: -20px;
}

.AboutUsText h4{
  text-align: center;
  margin-left: 10px;
}
}


