 .AboutUs{
    display: grid;
    grid-template-columns: 43% 43%;
    gap: 10px;
    padding: 80px 30px 10px 140px;
  }

.AboutUsImg1{
    height: 63vh;
    width: 62vh;
    border-radius: 15px;
 }

 .AboutUsText{
  line-height: 15px;
  text-align: justify;
}

.AboutUsText h4{
  color: #08BDBA;
  font-size: 26px;
  font-weight: 400;
}

.AboutUsText h3{
  color: #007D79;
  line-height: 24px;
  font-size: 22px;
  font-weight: 500;
  margin-top: 15px;
}

.AboutUsText h5{
  margin-top: 10px;
  color: #262626;
  line-height: 22px;
  font-size: 12px;
  font-weight: 400;
}


 @media (max-width: 900px) {
  .AboutUs{
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px 20px 10px 10px;
    margin-top: 40px;
  }

  .AboutUsImg1{
    display: none;
 }

.AboutUsText {
  width: 75%;
  margin-left: 60px;
  margin-top: -20px;
}

.AboutUsText h4{
  text-align: center;
  margin-left: 10px;
}
}

