.Contact {
    display: grid;
    grid-template-columns: 43% 43%;
    gap: 40px;
    margin-left: 90px;
    margin-top: 45px;
    margin-bottom: 15px;
}

.ContactImage img {
    width: 35vw;
    height: 68vh;
    padding: 20px 20px 5px 50px;
}


.ContactText {
    text-align: justify;
    margin-left: 10px;
    margin-top: 5px;
}

.ContactText h3 {
    color: #007D79;
    font-size: 25px;
    font-weight: 600;
}

.ContactText h4 {
    color: #08BDBA;
    font-weight: 500;
    font-size: 18px;
    margin: 10px auto;
}

.ContactText h5 {
    color: #262626;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    margin-bottom: 10px;
    padding-right: 35px;
}

.Name input,
.Email input,
.Message textarea {
    width: 90%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    color: grey;
}

.Message textarea{
    height: 20vh;
}

.Button button{
    width: 95%;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    color: grey;
}

.Button button {
    background-color: #3DDBD9;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

/* Media query for small screens */
@media (max-width: 900px) {
    .Contact {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .ContactImage img {
        width: 65vw;
        height: 58vh;
        padding: 5px 20px 5px 40px;
    }

    .ContactText {
        text-align: justify;
        margin-left: 35px;
        margin-top: 5px;
    }
}
