.TheProfile{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 90px;
    padding: 30px 10px 10px 140px;
}

.ProfileText{
    margin-top: 10px;
}

.ProfileText h3{
    color: #08BDBA;
    font-size: 30px;
    font-weight: 500;
}

.ProfileText h4{
    color: #007D79;
    font-size: 28px;
    font-weight: 500;
    margin-top: 10px;
    text-align: justify;
}

.ProfileText h5{
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 5px;
}

.ProfileText button{
    padding: 5px 10px;
    width: 8vw;
    margin: 10px 0;
    border: 1px solid #3DDBD9;
    border-radius: 8px;
    color: #3DDBD9;
    font-size: 13px;
    background-color: #fff;
}

.ProfileImg img{
    width: 30vw;
    height: 55vh;
    border-radius: 10px;
    margin-top: 40px;
    object-fit: cover;
}

/* Tablets */
@media (min-width: 901px) and (max-width: 1024px) {
    .TheProfile{
        padding: 30px 10px 0px 120px;
        width: 80vw;
    }

    .ProfileImg img{
        width: 32vw;
        height: 65vh;
        border-radius: 10px;
        margin-top: 10px;
    }

    .ProfileText h4{
        line-height: 25px;
    }

    .ProfileText h5{
        line-height: 15px;
    }
}

/* Phones */
@media (max-width: 900px) {
    .TheProfile{
      display: grid;
      grid-template-columns: 1fr;
      margin: 10px;
      width: 80vw;
      padding: 30px 10px 0px 80px;
      width: 80vw;
      gap: 25px;
    }
    .ProfileImg img{
        width: 70vw;
        height: 55vh;
        border-radius: 10px;
        margin-top: 10px;
    }

    .ProfileText{
        margin-right: 5px;
        width: 83%;
    }
    .ProfileText h3{
        text-align: center;
        margin-left: 10px;
    }

    .ProfileText button{
        padding: 8px 5px;
        width: 20vw;
        margin: 10px 0;
        border: 1px solid #3DDBD9;
        border-radius: 8px;
        color: #3DDBD9;
        font-size: 15px;
        background-color: #fff;
    }
  }

