.TheProfile{
    display: grid;
    grid-template-columns: 45% 45%;
    gap: 130px;
    padding: 30px 10px 10px 125px;
}

.ProfileText{
    margin-top: 10px;
}

.ProfileText h3{
    color: #08BDBA;
    font-size: 20px;
    font-weight: 500;
}

.ProfileText h4{
    color: #007D79;
    font-size: 30px;
    font-weight: 500;
    margin-top: 10px;
}

.ProfileText h5{
    color: #262626;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
    margin-top: 15px;
    margin-bottom: 5px;
}

.ProfileText button{
    padding: 5px 10px;
    width: 8vw;
    margin: 10px 0;
    border: 1px solid #3DDBD9;
    border-radius: 8px;
    color: #3DDBD9;
    font-size: 13px;
    background-color: #fff;
}

.ProfileImg img{
    width: 30vw;
    height: 65vh;
    border-radius: 10px;
    margin-top: 20px;
}

@media (max-width: 900px) {
    .TheProfile{
      display: grid;
      grid-template-columns: 80%;
      grid-template-rows: 50% 50%;
      gap: 65px;
    }

    .ProfileImg img{
        width: 60vw;
        height: 58vh;
        border-radius: 10px;
        margin-top: 20px;
    }

    .ProfileText button{
        padding: 5px;
        width: 18vw;
        margin: 10px 0;
        border: 1px solid #3DDBD9;
        border-radius: 8px;
        color: #3DDBD9;
        font-size: 13px;
        background-color: #fff;
    }
  }